<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
  </button>
            <a class="navbar-brand" href="/">Eltrans Ltd.</a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
{% if site.locales.sitelinks[page.lang] %}
  {% assign sitelinks = site.locales.sitelinks[page.lang] %}
{% else %}
  {% assign sitelinks = site.locales.sitelinks['en'] %}
{% endif %}
{% for link in sitelinks %}
  {% if page.url == link.url %}
      <li class="active"><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% else %}
      <li class="false"><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endif %}
{% endfor %}
{% for locale in site.data.locales %}
  {% if locale.short != page.lang %}
    <li><a href="{{ page.url | replace_first: page.lang, locale.short }}" class="flag-icon-background flag-icon-{{ locale.short }}">{{ locale.short }}</a></li>
  {% endif %}
{% endfor %}
</div>
